@page
@model IndexModel 

<div class="text-center">
        <form method="post">
            <label asp-for="FizzBuzz.Name"></label>
            <input asp-for="FizzBuzz.Name" />
            <span asp-validation-for="FizzBuzz.Name" class="text-danger"></span>
            <label asp-for="FizzBuzz.Year"></label>
            <input type="number" asp-for="FizzBuzz.Year" />
            <span asp-validation-for="FizzBuzz.Year" class="text-danger"></span>
            <button type="submit">Zatwierdź</button>
        </form>
    
</div>
@{
    <div class="alert alert-@ViewData["MessageClass"]">
            @ViewData["Message"]
    </div>
}