@page
@model Zad3.Pages.LastCheckedModel
@{
    <table BORDER CELLSPACING=5 CELLPADDING=15>
        <tbody>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date</th>
                <th>Result</th>
                <th></th>
            </tr>
            @foreach(var item in Model.List){
             <tr>
                <td>@item.Id</td>
                <td>@item.FullName</td>
                <td>@item.Date</td>
                <td>@item.Result</td>
             </tr>       
            }
    </tbody>
 </table>

}
